@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-red-500 to-red-600 border
     rounded-md focus:outline-none active:ring-1
    active:ring-offset-red-800 active:from-red-700;
  }
}

.top-header {
   background: linear-gradient(#128698,#00718b);
   /* border-bottom: 1px solid rgb(3, 2, 37); */
   padding-bottom: 15px;
}
.mainGrid {
  background-color:#00718b ;
}
.filter-button {
  background: #e7b80e;
}
.filter-button svg {
  color:#0a8fad
}
.filter-container {
background: #00718bd9;
}
.button {
  background: #0a8fad;
}
.button:hover {
  background: #b8930e;
}
.button:active {
  background: #d6ac14;
}

body{
  font-family: 'Lato', sans-serif;}

header .logo {
  font-size: 28px; 
}

.shop-menu {
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 11px !important;
}
.signInButton {
  padding: 8px 14px;
  background-color: #e7b80e;
  border-radius: 20px;
  color: black;
  font-weight: 500;
}
.Toastify__progress-bar-theme--light {
  background: #e7b80e !important;
}

.search:focus { outline: none; }

.provider {
  background-color: rgb(109, 109, 207) !important;
}

.dropdown::-webkit-scrollbar {
  width: 3px;
}
.shop-menu {
  background-color: #0987a3;
}
.adminInput {
  margin: 10px;
  width: 400px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  border-color: black;
  border-width: 2px;
  padding-left: 10px;
  outline-style: none;
  color: black
}

.dropdown::-webkit-scrollbar-track {
  border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: rgb(165, 160, 160); 
  border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb:hover {
  background: #777272; 
}
.search-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 44px;
  background-color: #0987a3;
}

.search-box input {
  background-color: #0987a3;
  border: 0;
  padding: 0;
  width: 0;
  height: 44px;
  transition: padding 0.6s ease-in-out,
  width 0.6s ease-in-out;
}

.search-box.openBar input{
  display: inline-block;
  background-color: #0987a3;

  width: 100%;
  outline: none;
  color: white;
  /* border: 1px solid whitesmoke; */
  height: 44px;
  padding-left: 8px;
  font-size: 18px;
}

.mobileLogo {
  min-width: 40px !important ;
  max-width: 55px !important;
  max-height: 38px !important ;
}